@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Lalezar&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

#root {
  background: url(../imgs/home/background-home-desktop.jpg);
  height: 1300px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px 50px 40px;
}
.co_nav {
  display: flex;
  align-items: center;
}
.line {
  position: absolute;
  left: 10%;
  background: white;
  width: 25%;
  height: 1px;
  opacity: 0.2;
  z-index: 2;
}
.navbar {
  position: absolute;
  right: 0;
  padding: 35px 100px 35px 100px;

  display: flex;
  gap: 40px;
  border-radius: 9px;

  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);
}
.navbar li {
  list-style-type: none;
  width: 150px;
}
.navbar li span {
  font-weight: bold;
}
.navbar li a {
  color: white;
  text-decoration: none;
  line-height: 10px;
}
.res_navbar {
  display: none;
}
.home_grid {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 500px;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.intro {
  color: white;
}
.info {
  margin: auto auto;
  width: 50%;
}
.h1intro {
  letter-spacing: 4.75px;
  font-size: 1.375rem;
  text-align: left;
  padding: 20 0 0 0px;
}
.space {
  font-size: 6.875rem;
  font-family: 'Kumbh Sans', sans-serif;
}
.introp {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1.125rem;
  text-align: left;
}
.btn {
  font-weight: bold;
  border-radius: 100%;
  width: 250px;
  height: 250px;
  font-size: 2rem;
  margin-left: 250px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.explore {
}

@media only screen and (max-width: 1200px) {
  #root {
    background: url(../imgs/home/background-home-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .line {
    display: none;
  }
  .navbar {
    padding: 35px 20px 35px 10px;
    justify-content: space-around;
    width: 80%;
  }
  .navbar li {
    width: unset;
    padding-right: 0px;
  }
  .info {
    width: 80%;
  }
  .space {
    font-size: 4.875rem;
  }
  .btn {
    margin-left: 70px;
  }
}
@media only screen and (max-width: 640px) {
  #root {
    background: url(../imgs/home/background-home-mobile.jpg) center center /
      cover no-repeat;
  }

  nav {
    padding: 0;
    align-items: flex-start;
  }
  .logo {
    padding: 20px;
  }
  .co_nav {
    display: none;
  }
  .hamburger {
  }
  .menu {
    position: absolute;
    right: 10%;
    top: 07%;
    height: 2px;
    width: 20px;
    background: white;
    cursor: pointer;
    z-index: 3;
  }
  .menuclicked {
    animation: Clicked 1s 1;
    transform: scale(1.25, 1.5);
  }
  .menunoclicked {
    animation: noClicked 1s 1;
    transform: scale(1);
  }
  .res_navbar {
    position: absolute;
    display: flex;

    animation: closenavbar 1s 1;
    flex-flow: column nowrap;
    height: 100vh;
    padding: 50px 20px 0 30px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.8);
  }
  .close_navbar {
    position: absolute;
    animation: closenavbar 1s 1;
    right: 800px;
  }
  .open_navbar {
    position: absolute;
    animation: opennavbar 1s 1;
    right: 0;
  }
  .res_navbar li {
    list-style-type: none;
    padding: 20px;
  }
  .res_navbar li a {
    text-decoration: none;
  }
  .res_navbar li a {
    color: white;
    line-height: 1.5;
    letter-spacing: 2.7px;
    font-size: 15px;
    font-family: 'Kumbh Sans', sans-serif;
  }
  .home_grid {
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
    height: 500px;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }
  .h1intro,
  .introp {
    text-align: center;
    padding-top: 30px;
  }
  .explore {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
  .btn {
    margin: auto auto;
    width: 200px;
    height: 200px;
    margin-top: 80px;
  }

  @keyframes opennavbar {
    from {
      transform: translate(1000px);
    }
    to {
      right: 0;
    }
  }
  @keyframes Clicked {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.25, 1.5);
    }
  }
  @keyframes noClicked {
    from {
      transform: scale(1.25, 1.5);
    }
    to {
      transform: scale(1);
    }
  }

  @keyframes closenavbar {
    from {
      right: 0px;
    }
    to {
      transform: translate(1000px);
    }
  }
}
