@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Lalezar&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

#root {
  background: url(../imgs/home/background-home-desktop.jpg);
  height: 1000px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px 50px 40px;
}
.co_nav {
  display: flex;
  align-items: center;
}
.line {
  position: absolute;
  left: 10%;
  background: white;
  width: 25%;
  height: 1px;
  opacity: 0.2;
  z-index: 2;
}
.navbar {
  position: absolute;
  right: 0;
  padding: 35px 100px 35px 100px;

  display: flex;
  gap: 40px;
  border-radius: 9px;

  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);
}
.navbar li {
  list-style-type: none;
  width: 150px;
}
.navbar li span {
  font-weight: bold;
}
.navbar li a {
  color: white;
  text-decoration: none;
  line-height: 10px;
}
.res_navbar {
  display: none;
}

@media only screen and (max-width: 1200px) {
  #root {
    background: url(../imgs/home/background-home-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .line {
    display: none;
  }
  .navbar {
    padding: 35px 20px 35px 10px;
    justify-content: space-around;
    width: 80%;
  }
  .navbar li {
    width: unset;
    padding-right: 0px;
  }
}
@media only screen and (max-width: 640px) {
  #root {
    background: url(../imgs/home/background-home-mobile.jpg) center center /
      cover no-repeat;
  }

  nav {
    padding: 0;
    align-items: flex-start;
  }
  .logo {
    padding: 20px;
  }
  .co_nav {
    display: none;
  }
  .hamburger {
  }
  .menu {
    position: absolute;
    right: 10%;
    top: 07%;
    height: 2px;
    width: 20px;
    background: white;
    cursor: pointer;
    z-index: 3;
  }
  .res_navbar {
    position: absolute;
    display: flex;

    animation: closenavbar 1s 1;
    flex-flow: column nowrap;
    height: 100vh;
    padding: 50px 20px 0 30px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.8);
  }
  .close_navbar {
    position: absolute;
    animation: closenavbar 1s 1;
    right: 500px;
  }
  .open_navbar {
    position: absolute;
    animation: opennavbar 1s 1;
    right: 0;
  }
  .res_navbar li {
    list-style-type: none;
    padding: 20px;
  }
  .res_navbar li a {
    color: white;
    line-height: 1.5;
    letter-spacing: 2.7px;
    font-size: 15px;
    font-family: 'Kumbh Sans', sans-serif;
  }
  @keyframes opennavbar {
    from {
      transform: translate(1000px);
    }
    to {
      right: 0;
    }
  }

  @keyframes closenavbar {
    from {
      right: 0px;
    }
    to {
      transform: translate(1000px);
    }
  }
}
